{% extends 'base2.html' %}
{% block content %}

<h1><p align ='center'> TEAM {{team.Team_Name}}</p></h1>
<br>
<h3>Players Detail</h3>
<ul>
	<li>{{team.Player1_Name}}</li>
	<li>{{team.Player2_Name}}</li>
</ul>

<h3>Games Played</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Game</th>
      <th scope="col">Team Name</th>
      <th scope="col">Score</th>
    </tr>
  </thead><tbody>

{% for ga in game %}
{% ifequal team.Team_Name ga.team1.Team_Name %}
<tr>
	<th scope="row" rowspan="2">Game {{ga.id}}</th>
	<td>{{ga.team1.Team_Name}}</td>
	<td>{{ga.team1_score}}</td>
</tr>
<tr>
  <td>{{ga.team2.Team_Name}}</td>
  <td>{{ga.team2_score}}</td>
</tr>
{% endifequal %}
{% ifequal team.Team_Name ga.team2.Team_Name %}
  <tr>
  	<th scope="row" rowspan="2">Game {{ga.id}}</th>
  	<td>{{ga.team1.Team_Name}}</td>
  	<td>{{ga.team1_score}}</td>
  </tr>
  <tr>
    <td>{{ga.team2.Team_Name}}</td>
    <td>{{ga.team2_score}}</td>
  </tr>
  	{% endifequal %}
{% endfor %}
  {% endblock %}
